@font-face {
  font-family: "B Yekan";
  src: url(../fonts/BYekan.eot), url("../fonts/BYekan.ttf"), url("../fonts/BYekan.woff"); }

body {
  font-family: "B Yekan", "sans-serif";
  background-color: #333;
  color: #fff; }

.navbar {
  border-bottom: #0360AF solid 3px;
  opacity: 0.8; }

#home-section {
  background: url("../img/todo.jpg") no-repeat center top fixed;
  background-size: cover; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh; }
  #home-section .fa {
    color: #0360AF;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }
  #home-section #home-form {
    background-color: #0360AF; }

#learn-head-section {
  background-color: #0360AF;
  color: #fff; }
  #learn-head-section h3 {
    position: relative; }
  #learn-head-section h3:after {
    content: "";
    position: absolute;
    top: 40px;
    right: calc(50% - 110px);
    height: 2px;
    width: 20%;
    background-color: #343a40; }

#learn-section img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; }

#features-head-section h3 {
  position: relative; }

#features-head-section h3:after {
  content: "";
  position: absolute;
  top: 40px;
  right: calc(50% - 110px);
  height: 2px;
  width: 20%;
  background-color: #0360AF; }

#features-section img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; }

#contact-section img {
  max-width: 100%;
  height: auto; }

#footer-section hr {
  background-color: #fff; }
