//@media(max-width: 576px) {
//  nav .container {
//    width: 100%;
//  }
//}

$bg-color: #333;
$font-color: #fff;
$primary-color: #0360AF;
$dark-overlay: rgba(#000, 0.7);
$home-icon-size: 30px;

@font-face {
  font-family: "B Yekan";
  src: url(../fonts/BYekan.eot), url("../fonts/BYekan.ttf"), url("../fonts/BYekan.woff");
}

body {
  font-family: "B Yekan", "sans-serif";
  background-color: $bg-color;
  color: $font-color;
}

.navbar {
  border-bottom: $primary-color solid 3px;
  opacity: 0.8;
}

#home-section {
  background: url('../img/todo.jpg') no-repeat center top fixed;
  background-size: cover;

  .dark-overlay {
  background-color: $dark-overlay;
  width: 100%;
  height: 100vh;
  }

  .fa {
    color: $primary-color;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $home-icon-size;
  }

  #home-form {
    background-color: $primary-color;
  }
}

#learn-head-section {
  background-color: $primary-color;
  color: $font-color;

  h3 {
    position: relative;
  }

  h3:after {
    content:"";
    position: absolute;
    top: 40px;
    right: calc(50% - 110px);
    height: 2px;
    width: 20%;
    background-color: #343a40;
  }
}

#learn-section {
  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

#features-head-section {
  h3 {
    position: relative;
  }

  h3:after {
    content:"";
    position: absolute;
    top: 40px;
    right: calc(50% - 110px);
    height: 2px;
    width: 20%;
    background-color: $primary-color;
  }
}

#features-section {
  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

#contact-section {
  img {
    max-width: 100%;
    height: auto;
  }


}


#footer-section {
  hr {
    background-color: #fff;
  }
}